export DB_NAME=
export DB_HOST=
export DB_PORT=
export DB_USER=
export DB_PASSWORD=
export MAX_ATTEMPTS=
export DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable
export SECRET=
